@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .theme-light{
    /* primary */
    --color-primary-main: 140,51,24;
    --color-primary-dark: 70,26,12;
    --color-primary-light: 198,153,140;
    --color-primary-main-contrast: 243,241,240;
    --color-primary-dark-contrast: 230,220,217;
    --color-primary-light-contrast: 19,19,18;

    /* secondary */
    --color-secondary-main: 12,60,81;
    --color-secondary-dark: 5,24,32;
    --color-secondary-light: 134,158,168;
    --color-secondary-main-contrast: 243,241,240;
    --color-secondary-dark-contrast: 230,220,217;
    --color-secondary-light-contrast: 19,19,18;

    /* info */
    --color-info-main: 43,51,100;
    --color-info-dark: 22,26,50;
    --color-info-light: 149,153,178;
    --color-info-main-contrast: 231,232,236;
    --color-info-dark-contrast: 231,232,236;
    --color-info-light-contrast: 21,22,22;

    /* danger */
    --color-danger-main: 199,47,73;
    --color-danger-dark: 80,19,29;
    --color-danger-light: 227,151,164;
    --color-danger-main-contrast: 255,255,255;
    --color-danger-dark-contrast: 240,234,235;
    --color-danger-light-contrast: 24,23,23;

    /* warning */
    --color-warning-main: 230,176,14;
    --color-warning-dark: 100,76,5;
    --color-warning-light: 243,216,135;
    --color-warning-main-contrast: 27,27,26;
    --color-warning-dark-contrast: 245,241,241;
    --color-warning-light-contrast: 29,28,27;

    /* success */
    --color-success-main: 28,91,11;
    --color-success-dark: 14,46,6;
    --color-success-light: 142,173,133;
    --color-success-main-contrast: 248,245,242;
    --color-success-dark-contrast: 248,245,242;
    --color-success-light-contrast: 18,19,18;

    /* neutral */
    --color-neutral-50: #f4efef;
    --color-neutral-100: #f3f3f3;
    --color-neutral-200: #d1d1d1;
    --color-neutral-300: #a6a6a6;
    --color-neutral-400: #8d8d8d;
    --color-neutral-500: #737373;
    --color-neutral-600: #5a5a5a;
    --color-neutral-700: #404040;
    --color-neutral-800: #262626;
    --color-neutral-900: #1a1a1a;
    --color-neutral-950: #0d0d0d;
  }

  .theme-dark{
    /* primary */
    --color-primary-main: 140,51,24;
    --color-primary-dark: 70,26,12;
    --color-primary-light: 198,153,140;
    --color-primary-main-contrast: 243,241,240;
    --color-primary-dark-contrast: 230,220,217;
    --color-primary-light-contrast: 19,19,18;

    /* secondary */
    --color-secondary-main: 12,60,81;
    --color-secondary-dark: 5,24,32;
    --color-secondary-light: 134,158,168;
    --color-secondary-main-contrast: 243,241,240;
    --color-secondary-dark-contrast: 230,220,217;
    --color-secondary-light-contrast: 19,19,18;

    /* info */
    --color-info-main: 43,51,100;
    --color-info-dark: 22,26,50;
    --color-info-light: 149,153,178;
    --color-info-main-contrast: 231,232,236;
    --color-info-dark-contrast: 231,232,236;
    --color-info-light-contrast: 21,22,22;

    /* danger */
    --color-danger-main: 199,47,73;
    --color-danger-dark: 80,19,29;
    --color-danger-light: 227,151,164;
    --color-danger-main-contrast: 255,255,255;
    --color-danger-dark-contrast: 240,234,235;
    --color-danger-light-contrast: 24,23,23;

    /* warning */
    --color-warning-main: 230,176,14;
    --color-warning-dark: 100,76,5;
    --color-warning-light: 243,216,135;
    --color-warning-main-contrast: 27,27,26;
    --color-warning-dark-contrast: 245,241,241;
    --color-warning-light-contrast: 29,28,27;

    /* success */
    --color-success-main: 28,91,11;
    --color-success-dark: 14,46,6;
    --color-success-light: 142,173,133;
    --color-success-main-contrast: 248,245,242;
    --color-success-dark-contrast: 248,245,242;
    --color-success-light-contrast: 18,19,18;

    /* neutral */
    --color-neutral-950: #f2f2f2;
    --color-neutral-900: #d9d9d9;
    --color-neutral-800: #c0c0c0;
    --color-neutral-700: #a6a6a6;
    --color-neutral-600: #8d8d8d;
    --color-neutral-500: #737373;
    --color-neutral-400: #5a5a5a;
    --color-neutral-300: #404040;
    --color-neutral-200: #262626;
    --color-neutral-100: #1a1a1a;
    --color-neutral-50: #0d0d0d;
  }
  .font-theme-primary{
    --font-family-heading: 'Raleway', sans-serif;
    --font-family-paragraph: 'Cabin', sans-serif;
  }
  .font-theme-secondary{
    --font-family-heading: 'Josefin Sans', sans-serif;
    --font-family-paragraph: 'Lato', sans-serif;
  }
  body *{
    font-family: var(--font-family-paragraph);
    transition: color 300ms ease-out;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: var(--font-family-heading);
  }
}